GODOT_VERSION=4.7.1
PROJECT_NAME=ci_example
PROJECT_PATH=.
BUILD_PLATFORMS=["web","windows","linux","macos"]
ENABLE_ITCH=false
ENABLE_STEAM=false


ITCH_USERNAME=REPLACE_WITH_ITCH_USERNAME
ITCH_GAMENAME=REPLACE_WITH_ITCH_GAMENAME
ITCH_BUTLER_URL=https://broth.itch.zone/butler/linux-amd64/LATEST/archive/default


STEAM_APP_ID=REPLACE_WITH_STEAM_APP_ID
